cryptography
django
elasticsearch
flask
psycopg2
pyquery
pyyaml
requests
requests_aws4auth
requests_ntlm
responses
-e git+https://github.com/zzzeek/sqlalchemy.git#egg=sqlalchemy
sqlparse
-e git://github.com/uktrade/pyslet.git@master#egg=pyslet
