-e git+https://github.com/zzzeek/sqlalchemy.git#egg=sqlalchemy

cryptography
django
elasticsearch
lxml
python-dateutil
psycopg2
pyquery
pyramid
pyyaml
raven
requests
requests_aws4auth
requests_ntlm
responses
sqlparse
streql

pytest
pytest-runner
pytest-cov
pytest-sugar
webtest
