-e git+https://github.com/zzzeek/sqlalchemy.git#egg=sqlalchemy

cryptography
django
elasticsearch
lxml
psycopg2
pyquery
pyramid
pyyaml
requests
requests_aws4auth
requests_ntlm
responses
sqlparse

pytest
pytest-runner
pytest-cov
pytest-sugar
webtest
